.button {
    border-radius: 3px;
    margin: 5px;
    padding: 0 20px;
    min-width: 180px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    @each $status, $color in $buttons-colors-array {
        &-#{$status} {
            background: $color;
            border: none;
            @include font(14px, white, 700);
            &:hover,
            &:focus {
                background: rgba($color, .6);
            }
            &[disabled] {
                background-color: $color-p4l2;
                cursor: no-drop;
            }
        }
        &-#{$status}-o {
            background: white;
            border: 1px solid $color;
            line-height: 48px;
            @include font(14px, $color, 700);
            &:hover,
            &:focus {
                @include font(14px, white, 700);
                line-height: 50px;
                background: rgba($color, .6);
                border: none;
            }
            &[disabled],
            &[disabled]:hover {
                line-height: 48px;
                background-color: white;
                border: 1px solid $color-p4l2;
                cursor: no-drop;
                color: $color-p4l2;
            }
        }
    }
    /* custom buttons */
    &-default {
        line-height: 48px;
        background-color: white;
        border: 1px solid $color-p4l2;
        @include font(14px, $color-p4d1, bold);
        &:hover {
            background-color: $color-p4l3;
        }
    }
    &-slim {
        line-height: 40px;
    }
}