// COLORS
//default colors
$WHITE: #FFF;
$BLACK: #000;

$color-p1: #1bad58;
$color-p2: #fa8e11;
$color-p3: #13aeff;
$color-p4: #656a70;

$color-success: #09a912;
$color-warning: #ffaa33;
$color-error: #f44747;
$color-info: #21a5f8;

$status-colors-array: (
        success: $color-success,
        warning: $color-warning,
        error: $color-error,
        info: $color-info
);

$buttons-colors-array: (
        success: $color-success,
        warning: $color-warning,
        info:    $color-error,
        error:   $color-info,
        primary-1: $color-p1,
        primary-2: $color-p2,
        primary-3: $color-p3,
        primary-4: $color-p4
);

// Primary 1 Lightens
$color-p1l1: mix($WHITE, $color-p1, 40%);
$color-p1l2: mix($WHITE, $color-p1, 75%);
$color-p1l3: mix($WHITE, $color-p1, 90%);

// Primary 1 Darkens
$color-p1d1: mix($BLACK, $color-p1, 20%);
$color-p1d2: mix($BLACK, $color-p1, 50%);
$color-p1d3: mix($BLACK, $color-p1, 70%);

// Primary 2 Lightens
$color-p2l1: mix($WHITE, $color-p2, 40%);
$color-p2l2: mix($WHITE, $color-p2, 75%);
$color-p2l3: mix($WHITE, $color-p2, 90%);

// Primary 2 Darkens
$color-p2d1: mix($BLACK, $color-p2, 20%);
$color-p2d2: mix($BLACK, $color-p2, 50%);
$color-p2d3: mix($BLACK, $color-p2, 70%);

// Primary 3 Lightens
$color-p3l1: mix($WHITE, $color-p3, 40%);
$color-p3l2: mix($WHITE, $color-p3, 75%);
$color-p3l3: mix($WHITE, $color-p3, 90%);

// Primary 3 Darkens
$color-p3d1: mix($BLACK, $color-p3, 20%);
$color-p3d2: mix($BLACK, $color-p3, 50%);
$color-p3d3: mix($BLACK, $color-p3, 70%);

// Primary 4 Lightens
$color-p4l1: mix($WHITE, $color-p4, 40%);
$color-p4l2: mix($WHITE, $color-p4, 75%);
$color-p4l3: mix($WHITE, $color-p4, 90%);

// Primary 4 Darkens
$color-p4d1: mix($BLACK, $color-p4, 20%);
$color-p4d2: mix($BLACK, $color-p4, 50%);
$color-p4d3: mix($BLACK, $color-p4, 70%);

$grid-colors-array: (
        color-1: (
                color: $color-p1,
                lighten: (
                        1:$color-p1l1,
                        2:$color-p1l2,
                        3:$color-p1l3
                 ),
                darken: (
                        1:$color-p1d1,
                        2:$color-p1d2,
                        3:$color-p1d3
                )
        ),
        color-2: (
                color:$color-p2,
                lighten: (
                        1:$color-p2l1,
                        2:$color-p2l2,
                        3:$color-p2l3
                ),
                darken: (
                        1:$color-p2d1,
                        2:$color-p2d2,
                        3:$color-p2d3
                )
        ),
        color-3: (
                color:$color-p3,
                lighten: (
                        1:$color-p3l1,
                        2:$color-p3l2,
                        3:$color-p3l3
                ),
                darken: (
                        1:$color-p3d1,
                        2:$color-p3d2,
                        3:$color-p3d3
                )
        ),
        color-4:(
                color:$color-p4,
                lighten: (
                        1:$color-p4l1,
                        2:$color-p4l2,
                        3:$color-p4l3
                ),
                darken: (
                        1:$color-p4d1,
                        2:$color-p4d2,
                        3:$color-p4d3
                )
        ),
);

