@mixin font ($font-size:14px,$font-color:$color-p4d3,$font-weight:400,$font-family:$primary-font-family) {
  font-size: $font-size;
  color:$font-color;
  font-weight: $font-weight;
  font-family: $font-family;
}